<% layout('layout') -%>
<div class="container">
	<div class="row">
		<div class="col-lg-6 col-md-offset-3">
			<% if (message.length > 0) { %>
			<div id="cat-confirmation" class="alert alert-success alert-dismissible" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<strong>Info!</strong> <%= message %>
			</div>
			<%}%>
			<h3 id="category-subheading">Add New Product Category</h3>
			<form method="post" id="addCategoryForm" class="well well-sm">
				<div class="form-group">
					<div class="form-group">
						<label for="">Name</label>
						<input type="text" class="form-control" id="category-name" name="name" required>
					</div>
					<div class="form-group">
						<input type="submit" class="btn btn-success" value="Submit">
					</div>
				</form>
			</div>
		</div>
	</div>