 <div id="footer">
    <div class="container">
    <hr>
        <p class="text-center">Thanks for visiting my project <a target="_blank" href="http://github.com/mrmodise">Morebodi Modise</a> &copy; 2016 <br>
        <small style="color: red;">The site is still work in progress | the search feature does not work at the moment due to costs associated with it | the listing of products also needs an upgrade | validations on forms etc</small></p>
    </div>
 </div>