 <div id="footer">
    <div class="container">
    <hr>
        <p class="text-center">Thank you for shopping with us
            <a target="_blank" href="http://github.com/mrmodise">MP Modise</a> &copy; 2018
    </div>
 </div>