<!DOCTYPE html>
<html>
<head>
    <title>An Amazon ecommerce store clone</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./images/favicon.ico">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/4.12.0/bootstrap-social.css">
        <link href="/css/theme.css" rel="stylesheet" media="screen">
    <style>
    body {
        padding-top: 60px;
        overflow-x: hidden;
    }
    </style>
</head>

<body>
<section>

    <% include ./partials/navbar %>
    <%- body -%>
    <% include ./partials/javascriptonly %>
    <% include ./partials/footer %>
    </section>
  </body>
</html>

