<% layout('layout') -%>
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron" id="navbar-gap">
	<div class="container">
		<h1 class="text-center">Shop Smart, Save Big!</h1>
		<p class="text-center">Starting point to create something more unique</p>
		<p class="text-center"><a class="btn btn-primary btn-lg" href="/signup" role="button">Signup &raquo;</a></p>
	</div>
</div>
  <div class="container">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="thumbnail">
                                <img class="img-circle" src="images/thumb1.png" alt="">
                                <div class="caption">
                                    <h3 class="caption-label">Affordable Prices</h3>
                                    <p class="text-justify">Our products are affordable and of good quality. Invest your money for greater value. Take a tour of our store and select the best value for your money.</p>
                                
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="thumbnail">
                                <img class="img-circle" src="images/thumb2.png" alt="">
                                <div class="caption">
                                    <h3 class="caption-label">Welcome</h3>
                                    <p class="text-justify">Signup now to enjoy the best products, you can signin using Facebook as well. It's that simple!</p>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="thumbnail">
                                <img class="img-circle" src="images/thumb3.png" alt="">
                                <div class="caption">
                                    <h3 class="caption-label">Build a smart cart</h3>
                                    <p class="text-justify">Go ahead and select all the best products to meet your needs. We have you covered in every end. Fill your shopping basket now, while prices last!</p>
                                 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>