<% layout('layout') -%>

<% if(data.length === 0) { %>
		<h3 id="no-products">No products found</h3>
	<%} else {%>
	
	<div class="container">
	<h3> Results for:  <%= query %></h3>
	<div class="row">

		<% for (var i = 0; i < data.length; i++) { %>
		<div class="col-md-4">
			
				<div class="thumbnail">
					<img src="<%= data[i]._source.image %>" />
					<div class="caption">
						<h3 class="caption-label"><%= data[i]._source.name %></h3>
						<p>P <%= data[i]._source.price %></p>
					</div>
				</div>
			
		</div>
		<% } %>
	</div>
	</div>
<%}%>